<!DOCTYPE html>
<html lang="en"   xmlns:th="http:/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update  Product</title>
</head>
<body>
<!--th:placeholder="${product.getId()}"-->

<form  method="post" th:action="@{/product}" th:object="${product}">
<!--    <label for="id">Enter Id:  </label>-->
    <input hidden type="number"  th:field="*{id}" id = "id"> <br>
    <label for="title">Enter title:  </label>
    <input type="text"  th:field="*{title}" id = "title"><br>
    <label for="description" >Enter description:  </label>
    <input type="text"  th:field="*{description}" id = "description"><br>
    <label for="brand">Enter brand:  </label>
    <input type="text"  th:field="*{brand}" id = "brand"><br>
    <label for="price">Enter price:  </label>
    <input type="text"  th:field="*{price}" id = "price"><br>
    <input type="submit" value="Create!">
</form>
</body>
</html>


<!--private Long id;-->
<!--private String title;-->
<!--private  String description;-->
<!--private  String brand;-->
<!--private double price;-->